@font-face {
    /*solo a font-family se le puede cambiar el nombre*/
    font-family: 'iconos';
    /**/
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: whitesmoke;
}

header{
	background-color: whitesmoke;
	width: 100%;
	height: 38px;
}
/**Modificaciones**/
.navbar-inverse{
    background-color: #2C3E50;
    border-color: #FFFFFF;
    color: #FFFFFF;
}
.navbar-inverse .navbar-brand{
    color: white;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus
{
    background-color: #1A242F;
    border-color: #1A242F;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus{
    color:#188C9C;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
} 
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active >a:hover,
.navbar-inverse .navbar-nav > .active >a:focus {
    color: white;
    background-color: #1A242F;
} 
.navbar-inverse .navbar-nav > li >a:hover,
.navbar-inverse .navbar-nav > li >a:focus {
    color:#188C9C;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .open >a,
.navbar-inverse .navbar-nav > .open >a:hover,
.navbar-inverse .navbar-nav > .open >a:focus {
    color:#FFFFFF;
    background-color: #1A242F;
}

#header{
	color: #999898;
}
.red-social{
	background-color: #509422;
	width: 100%;
	height: 55px;
}
#footer{
	background-color: #509422;
}
#footer h3{
    display: inline-block;
    color: white;
}
#footer a{
    color: white;
     font-size: 1.6em;
    margin-left: 5px;
    text-align: center;
}
#footer #facebook:before
{
    font-family: 'iconos';
    content: "\ea91";
     font-size: 1.6em;
    transition: all .5s;
}
#footer #twitter:before
{
    font-family: 'iconos';
    content: "\ea96";
     font-size: 1.6em;
    transition: all .5s;
}
#footer #youtube:before
{
    font-family: 'iconos';
    content: "\ea9e";
     font-size: 1.6em;
    transition: all .5s;
}
#footer #facebook:hover,
#footer #twitter:hover,
#footer #youtube:hover
{
    color: #1A242F;
}

#toTop{
    text-align: center;
    vertical-align: middle;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
    padding: 10px;
    width: 50px;
    height: 50px;
    z-index: 20000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #1A242F;
    background-color: #2C3E50;

}

#toTop:hover{
	background-color: #1A242F;

}
#toTop a{
	 text-decoration: none;
	 color: white;
}
#info-cont{
	
	color: white;
	border-radius: 10px;
    width: 500px;

}
.programas{
    
    padding: 20px;
}
.head-top li{
    display: inline-block;
    padding: .5em;
    color: #2C3E50;
}
#footer div a{
    text-decoration: none;
    color: white;
}
.separator {
background-color: #509422;
margin-bottom: 0em;
}
aside p{
    font-size: 16px;
}
.title h1{
    text-align: center;
    margin-top: 4.5em;
}
.pass{
    margin-top: 1.5em;
    margin: auto;
}
.logos{
    text-align: center;
}
.logo_crecer{
    width: 100%;
    height: auto;
}
.logo_crecer img{
    width: 18em;
    height: auto;
}
.logo_2 img{
    width: 18em;
    height: auto;
}
.img-responsive{
    max-width: 100%; 
    height: auto; 
}
.galery{
    background-color: whitesmoke;
}


#imgPrograma{
    width: 140px;
    height: 140px;
    text-align: center;
}


/** Medias querys */
@media screen and (max-width: 395px) {

    header {
        display: none;
        background: red;
    }
    #footer #siguenos{
        display: none;
    }
    #footer h3{
        display: block;
    }
    #footer #facebook, #footer #twitter, #footer #youtube{
        font-size: 20px;
    }
    #info-cont {
        display: none;
    }
}
